
<div *ngIf="utilisateur">
    <h2><span>Utilisateur</span> {{utilisateur.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{utilisateur.nom}}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
            <span>{{utilisateur.prenom}}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
            <span>{{utilisateur.telephone}}</span>
        </dd>
        <dt><span>Mail</span></dt>
        <dd>
            <span>{{utilisateur.mail}}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
            <span>{{utilisateur.adresse}}</span>
        </dd>
        <dt><span>Type Utilisateur</span></dt>
        <dd>
            <span>{{utilisateur.typeUtilisateur}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'utilisateur/'+ utilisateur.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
