<div>
    <h2>
        <span>Activites</span>
        <button class="btn btn-primary float-right create-activite" [routerLink]="['/', { outlets: { popup: ['activite-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Activite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="activites">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Est Valide</span></th>
            <th><span>Commentaire</span></th>
            <th><span>Utilisateur</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activite of activites ;trackBy: trackId">
                <td><a [routerLink]="['../activite', activite.id ]">{{activite.id}}</a></td>
                <td>{{activite.date | date:'medium'}}</td>
                <td>{{activite.estValide}}</td>
                <td>{{activite.commentaire}}</td>
                <td>
                    <div *ngIf="activite.utilisateur">
                        <a [routerLink]="['../utilisateur', activite.utilisateur?.id ]" >{{activite.utilisateur?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../activite', activite.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activite/'+ activite.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activite/'+ activite.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
